
<div class="nav-agency">
   <div class="splash"> <img src="/assets/black.jpg" alt="Banner" /> </div>
  <div class="navbar navbar-static-top"> 
      <%= render "layouts/inner" %>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span12">
            <h1>My Experience</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid" id="pricing">
    <div class="span4">
      <div class="price-plan most-popular">
        <h2> Proagile SA (Argentina)</h2>
        <div class="price">
          <div class="inside"><span class="amt">3</span> <span class="sub">months</span> </div>
        </div>
        <div class="info">
          <ul>
            <li class="feature-page-limit">PHP Developer</li>
            <li class="feature-bandwidth-limit">HTML5 CSS3 Developer</li>
            <li class="feature-storage-limit">JQuery Mobile Developer</li>
            <li class="feature-free-domain">Enterprise Architect Analist</li>
            <li class="feature-support"><a href="http://proagile.com.ar">Web</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="price-plan  most-popular">
        <h2> AnabtaTec (FreeLance)</h2>
        <div class="price">
          <div class="inside"><span class="amt">5</span> <span class="sub">years</span> </div>
        </div>
        <div class="info">
          <ul>
            <li class="feature-page-limit">Ruby On Rails Developer</li>
            <li class="feature-bandwidth-limit">iOS DEveloper</li>
            <li class="feature-storage-limit">PHP CakePHP Developer</li>
            <li class="feature-free-domain">HTML5 CSS3 DEveloper</li>
            <li class="feature-support">Network Administration and Security</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="price-plan most-popular">
        <h2>Carmatec (India)</h2>
        <div class="price">
          <div class="inside"><span class="amt">3</span> <span class="sub">months</span> </div>
        </div>
        <div class="info">
          <ul>
            <li class="feature-page-limit">Ruby On Rails Developer</li>
            <li class="feature-bandwidth-limit">HTML5 CSS3 Developer</li>
            <li class="feature-storage-limit">Intership</li>
            <li class="feature-free-domain">JavaScript and Jquery</li>
            <li class="feature-support"><a href="http://carmatec.com">Web</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
