
<div class="jumbotron masthead">
  <div class="splash"> <img src="/assets/home-banner-bg.jpg" alt="Ruby on Rails Developer" /> </div>
  <div class="splash"> <img src="/assets/home-banner-bg2.jpg" alt="iOS Developer" /> </div>
  <div class="splash"> <img src="/assets/home-banner-bg3.jpg" alt="PHP cakePHP Developer" /> </div>
  <div class="nav-agency">
    <div class="navbar navbar-static-top"> 
      <!-- navbar-fixed-top -->
      <%= render "layouts/inner" %>
    </div>
  </div>
  <div class="container show-case-item">
    <h1> Growth is never by mere chance; it is the result of forces working together.</h1>
    <p> Gone are the days of building simple websites. Clients are demanding more functionality
      and better results from their websites and i create unforgettable brand experiences.
      My passion is helping design and build solutions that strike the perfect balance
      between users, business, and technology.</p>
    <a href="http://anabtatec-mobile.com/mywork" title="Ruby on Rails Developer" class="bigbtn">View my Work</a>
    <div class="clearfix"> </div>
  </div>
  <div class="container show-case-item">
    <h1> SIMPLICITY IS A GOOD THING TO<br />
      ADOPT! </h1>
    <p> Any intelligent fool can make things bigger, more complex, and more violent. It takes a touch of genius — and a lot of courage to move in the opposite direction.</p>
    <a href="http://anabtatec-mobile.com/mywork" title="iOS Developer" class="bigbtn">View my Work</a>
    <div class="clearfix"> </div>
  </div>
  <div class="container show-case-item">
    <h1> PLAN, BUILD, LAUNCH<br />
      & GROW! </h1>
    <p> From a tiny grain of Rice to Dinamic Secure Network Enviroment. Perfection is What you recieve after making a deal with AnabtaTec.</p>
    <a href="http://anabtatec-mobile.com/mywork" title="PHP cakePHP Developer" class="bigbtn">View my Work</a>
    <div class="clearfix"> </div>
  </div>
  <div id="banner-pagination">
    <ul>
      <li><a href="#" class="active"title="Ruby on Rails Developer" rel="0"> <img src="/assets/slidedot-active.png" alt="Ruby on Rails Developer" /></a></li>
      <li><a href="#" class="active"title="iOS Developer" rel="1"> <img src="/assets/slidedot-active.png" alt="iOS Developer" /></a></li>
      <li><a href="#" class="active" title="PHP cakePHP Developer" rel="2"> <img src="/assets/slidedot-active.png" alt="PHP cakePHP Developer" /></a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="marketing">
    
    <div class="row-fluid textleft">
      <div class="span8">
        <h2> <span class="firstword">My</span> Services</h2>
        <p> Ive been a Software Developer for the past 6 years, i started to develop basic html and css websites when i was 15. Now i am 21 and i am specialist developer in PHP, cakePHP, Ruby on Rails, HTML5, CSS3, iOS, Jquery Mobile as well as Designing experties such as Photoshop, Fireworks and Flash.</p>
        <p> When Develpping any software project i use Enterprise Architect as Modeling tool, to gather all the requirements and details your business needs and has.</p>
        <p> After Contacting me and telling me want you want, in two days you will get a functional mokup of your project without any charge, and if the feed is positive in a few weeks you will have you software project up and running.</p>
        <div class="row-fluid bordertop">
          <p> Abilities :)</p>
          <div class="span4">
            <ul class="services">
              <li><i class="icon-user"></i><a title="social media expert"href="http://anabtatec-mobile.com/riyad"> Social Media Expert</a></li>
              <li><i class="icon-th"></i><a href="http://anabtatec-mobile.com/riyad"> SEO Specialist</a></li>
              <li><i class="icon-globe"></i><a href="http://m.anabtatec-mobile.com/contact.html"> Bad-ass support</a></li>
              <li><i class="icon-book"></i><a title="network administrator and security" href="http://anabtatec-mobile.com/networking"> Network Administration</a></li>
            </ul>
          </div>
          <div class="span4">
            <ul class="services">
              <li><i class="icon-resize-small"></i><a href="http://anabtatec-mobile.com/mywork" title="HTML5 and CSS3 Developer"> Responsive design</a></li>
              <li><i class="icon-eye-open"></i><a href="http://anabtatec-mobile.com/rubyonrails" title="Ruby on Rails Developer"> Ruby on Rails Developer</a></li>
              <li><i class="icon-list-alt"></i><a href="http://anabtatec-mobile.com/php"title="PHP Developer"> PHP Developer</a></li>
              <li><i class="icon-cog"></i> <a href="http://anabtatec-mobile.com/ios"title="iOS Developer">iOS Developer</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span4">
        <h2> <span class="firstword">Flash</span>Points</h2>
        <div class="benefit first clearfix"> <span class="icon flexible-hours"></span><span class="benefit_text">
          <div class="perks-title"> Flexible Hours</div>
          <p> Contact me at any time you want! Projects are delivered at the time you request!!.</p>
          </span> </div>
        <div class="benefit clearfix"> <span class="icon coffee-day"></span><span class="benefit_text">
          <div class="perks-title"> Surprise Treats</div>
          <p> Every week i give out special offers for website and application prices.</p>
          </span> </div>
        <div class="benefit clearfix"> <span class="icon personal-projects"></span><span class="benefit_text">
          <div class="perks-title">Best Prices in the Market for your App or Website</div>
          <p>Let me know about every need your business has, every detail counts to develop a facinating software project.</p>
          </span> </div>
      </div>
    </div>
  </div>
</div>
