<div class="nav-agency">
   <div class="splash"> <img src="/assets/black.jpg" alt="Network Architect" /> </div>
  <div class="navbar navbar-static-top"> 

    <%= render "layouts/inner" %>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span12">
            <h1>Jquery Mobile Developer</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="work">
    <div class="row-fluid">
      <div style="color: #fff;" class="span4">
        <h5> Touch-optimized web framework</h5>
       <h5> The jQuery Mobile framework is compatible with other mobile app frameworks and platforms</h5>
        <h5> The development focuses on creating a framework compatible with a wide variety of smartphones and tablet computers</h5>
      
        <h5>Using HTML5 and CSS3</h5>
        <h5>Contacting me, your mobile website will be dynamic using JqueryMobile and JSON HTML Injection! in other words your app will have 200 lines of code max!</h5>
   </div>
      <div class="span8">
        <ul class="portfolio_showcase">
          <li> <img src="/assets/jmobile1.png" alt="Jquery Mobile Developer" title="Jquery Mobile Developer" /></li>
          <li> <img src="/assets/jmobile2.png" alt="Jquery Mobile Developer" title="Jquery Mobile Developer"/></li>
          <li> <img src="/assets/jmobile3.png" alt="Jquery Mobile Developer"title="Jquery Mobile Developer" /></li>
         
          
        </ul>
        <div id="number" class="work-pagination"> </div>
      </div>
    </div>
  </div>
</div>
