
<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <blockquote>
          <p class="testimonial">Like many web frameworks, Ruby on Rails uses the model–view–controller (MVC) pattern to organize application programming. As well as your Business.</p>
          <p class="name">Riyad Faek Anabtawi, <b>Owner (CEO)- AnabtaTec-Mobile.com</b></p>
        </blockquote>
      </div>
    </div>
    <hr class="soften1">
    <div class="row-fluid">
      <div class="span3">
        <h4>Navigation</h4>
        <ul class="footer-links">
          <li><a href="http://anabtatec-mobile.com"title="">Home</a></li>
          <li><a href="http://anabtatec-mobile.com/mywork"title="Ruby on Rails Developer">MyWork</a></li>
          
          <li><a href="http://anabtatec-mobile.com/rubyonrails"title="Ruby on Rails Developer">Ruby on Rails</a></li>
          <li><a href="http://anabtatec-mobile.com/posts"title="Ruby on Rails">Blog</a></li>
        </ul>
      </div>
      <div class="span3 MT70">
        <h4>Useful Links</h4>
        <ul class="footer-links">
          <li><a href="http://anabtatec-mobile.com/php"title="PHP Developer">PHP Developer</a></li>
          <li><a href="http://anabtatec-mobile.com/ios"title="iOS Developer">iOS Developer</a></li>
          <li><a href="http://anabtatec-mobile.com/rubyonrails"title="Ruby on Rails Developer">Ruby on Rails Developer</a></li>
          <li><a href="http://anabtatec-mobile.com/responsive_design"title="HTML5 and CSS3">HTML5 and CSS3</a></li>
         
        </ul>
      </div>
      <div class="span3 MT70">
       
        <div align="center"><img src="/assets/logo.png" /></div>
      </div>
      <div class="span3 MT70">
        <h4>Who am I</h4>
        <p>I am very creative, producing and specialising in all things digital. Find me, connect with me!</p>
        <ul class="footer_social clearfix">
          <li><a href="http://facebook.com/AnabtaTec" class="footer_facebook">Facebook</a></li>
          <li><a href="http://twitter.com/AnabtaTec" class="footer_twitter">Twitter</a></li>
          <li><a href="https://plus.google.com/u/0/113184312529214620441/" class="footer_googleplus">Google+</a></li>
      
        </ul>
      </div>
    </div>
    <hr class="soften1 copyhr">
    <div class="row-fluid copyright">
      <div class="span12">Copyright &copy; 2010 - 2013. All Rights Reserved <a href="http://anabtatec-mobile.com/"title="Ruby on Rails Developer">AnabtaTec-Mobile.com</a></div>
    </div>
  </div>
</footer>