<div  class="navbar-inner">
        <div class="container"> <a class="brand" href="index.html"> <img src="/assets/logo.png" alt="Logo"></a>
          <div id="main-nav">
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a style="color: #ffffff;"href="http://anabtatec-mobile.com/"title="Ruby on Rails Developer">Home</a> </li>
                <li class="dropdown"><a style="color: #ffffff;"class="dropdown-toggle" data-toggle="dropdown"title="iOS Developer" href="javascript:"> Services <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://anabtatec-mobile.com/mywork" title="Ruby on Rails Developer">My Work</a></li>
                    <li><a href="http://anabtatec-mobile.com/php"title="PHP cakePHP Developer">PHP &amp; CakePHP</a></li>
                    <li><a href="http://anabtatec-mobile.com/networking"title="Network Architect">Networking</a></li>
                    <li><a href="http://anabtatec-mobile.com/rubyonrails"title="Ruby on Rails Developer">Ruby On Rails</a></li>
                     <li><a href="http://anabtatec-mobile.com/whygomobile"title="Mobile Developer">Why Mobile?</a></li>
                      <li><a href="http://anabtatec-mobile.com/ios"title="iOS Developer">iOS</a></li>
                       <li><a href="http://anabtatec-mobile.com/jquery_mobile"title="Jquery Mobile">Jquery Mobile</a></li>
                        <li><a href="http://anabtatec-mobile.com/responsive_design"title="Responsive Desing">Responsive Design</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a style="color: #ffffff;"class="dropdown-toggle" data-toggle="dropdown" href="javascript:"> About <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://anabtatec-mobile.com/riyad">Riyad</a></li>
                    <li><a href="http://anabtatec-mobile.com/exp">Experience</a></li>
                  </ul>
                </li>
               
                <li><a href="http://anabtatec-mobile.com/posts"title="PHP cakePHP Developer"style="color: #ffffff;"> Blog </a> </li>
                <li><a style="color: #ffffff;"title="Ruby on Rails Developer"href="http://m.anabtatec-mobile.com/contact.html">Contact Me</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>