<div class="span4 side_bar">
      <section class="blog_cat">
       
      
        <section>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a style="color: #61c168;" href="#1" data-toggle="tab">News</a></li>
              <li><a style="color: #61c168;"href="#2" data-toggle="tab">Freebies</a></li>
              <li><a href="#2" style="color: #61c168;"data-toggle="tab">WordPress</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="1">
                <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="tab-pane" id="2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</p>
              </div>
              <div class="tab-pane" id="3">
                <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h5 style="color: #61c168;">Latest Video</h5>
          <iframe src="//www.youtube.com/embed/3baNY9JBZPc?title=0&amp;color=FF5050" width="100%"  height="200px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </section>
          <section>
          <h5 style="color: #61c168;">Our Latest Tweets</h5>
          <a class="twitter-timeline"  href="https://twitter.com/AnabtaTec"  data-widget-id="245951997168197632">Tweets by @AnabtaTec</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>
      </section>
    </div>